<p id="header">Pokedex</p>
<div id="main">
  <div id="pokemons">
    <div class="pokeField"></div>
    <div class="pokeField"></div>
    <div class="pokeField"></div>
    <div class="pokeField"></div>
    <div class="pokeField"></div>
    <div class="pokeField"></div>
    <div class="pokeField"></div>
    <div class="pokeField"></div>
    <div class="pokeField"></div>
    <div class="pokeField"></div>
    <div class="pokeField"></div>
    <div class="pokeField"></div>
  </div>
  <button id="loadMore" type="button">Load More</button>
</div>
<div id="infoField"></div>